## >>> OS Files <<< 
#.DS_Store
## <<< OS Files >>>

# >>> R Files <<<
.Rproj.user
.Rhisory
.RData
.Rbuildignore
*.Rproj
## src/RcppExports*
# <<< R Files >>>

# >>> R Package Files <<<
vignettes/
inst/include/*.h
MD5
build/*.rds
# <<< R Package Files >>>

# >>> Compiling Files <<<
src/*.o
src/*.dll
src/*.so
src-i386/
src-x64/
# <<< Compiling Files >>>

# >>> Others <<<
temp/
Run_real/
Run_simulation/
README_Local.md
# <<< Ohers >>>
